@import "tailwindcss";

@layer base{
    :root {
     --color-primary: #0fac62;
    --color-secondary: #1a95e7;

    --color-border: #3a89f0;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}


@layer utilities {
  /* Background colors */
  .bg-primary-100 { background-color: var(--color-primary-100); }
  .bg-primary-200 { background-color: var(--color-primary-200); }
  .bg-primary-300 { background-color: var(--color-primary-300); }
  .bg-primary-400 { background-color: var(--color-primary-400); }
  .bg-primary-500 { background-color: var(--color-primary-500); }
  .bg-primary-600 { background-color: var(--color-primary-600); }
  .bg-primary-700 { background-color: var(--color-primary-700); }
  .bg-primary-800 { background-color: var(--color-primary-800); }
  .bg-primary-900 { background-color: var(--color-primary-900); }

  .bg-secondary-100 { background-color: var(--color-secondary-100); }
  .bg-secondary-200 { background-color: var(--color-secondary-200); }
  .bg-secondary-300 { background-color: var(--color-secondary-300); }
  .bg-secondary-400 { background-color: var(--color-secondary-400); }
  .bg-secondary-500 { background-color: var(--color-secondary-500); }
  .bg-secondary-600 { background-color: var(--color-secondary-600); }
  .bg-secondary-700 { background-color: var(--color-secondary-700); }
  .bg-secondary-800 { background-color: var(--color-secondary-800); }
  .bg-secondary-900 { background-color: var(--color-secondary-900); }

  /* Text colors */
  .text-primary-600 { color: var(--color-primary-600); }
  .text-secondary-600 { color: var(--color-secondary-600); }

  /* Border colors */
  .border-primary { border-color: var(--color-primary-600); }
  .border-secondary { border-color: var(--color-secondary-600); }
}



/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}
.loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--color-primary-600);
  border-color: var(--color-primary-600) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
