@import "tailwindcss";

@layer base{
    :root {
     --color-primary: #1a73e7;
      --color-primary-content: #ffffff;
      --color-primary-dark: #145cba;
      --color-primary-light: #488fec;

      --color-secondary: #e7d21a;
      --color-secondary-content: #020200;
      --color-secondary-dark: #baa914;
      --color-secondary-light: #ecdb48;

      --color-background: #f0f0f0;
      --color-foreground: #fbfbfb;
      --color-border: #3a89f0;

      --color-copy: #262626;
      --color-copy-light: #666666;
      --color-copy-lighter: #8c8c8c;

      --color-success: #1ae71a;
      --color-warning: #e7e71a;
      --color-error: #e71a1a;

      --color-success-content: #000200;
      --color-warning-content: #020200;
      --color-error-content: #ffffff;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@layer utilities {
  /* Background colors */
  .bg-primary { background-color: var(--color-primary); }
  .bg-primary-content { background-color: var(--color-primary-content); }
  .bg-primary-dark { background-color: var(--color-primary-dark); }
  .bg-primary-light { background-color: var(--color-primary-light); }

  .bg-secondary { background-color: var(--color-secondary); }
  .bg-secondary-content { background-color: var(--color-secondary-content); }
  .bg-secondary-dark { background-color: var(--color-secondary-dark); }
  .bg-secondary-light { background-color: var(--color-secondary-light); }

  .bg-background { background-color: var(--color-background); }
  .bg-foreground { background-color: var(--color-foreground); }

  .bg-success { background-color: var(--color-success); }
  .bg-warning { background-color: var(--color-warning); }
  .bg-error { background-color: var(--color-error); }

  /* Text colors */
  .text-primary { color: var(--color-primary); }
  .text-primary-content { color: var(--color-primary-content); }
  .text-primary-dark { color: var(--color-primary-dark); }
  .text-primary-light { color: var(--color-primary-light); }

  .text-secondary { color: var(--color-secondary); }
  .text-secondary-content { color: var(--color-secondary-content); }
  .text-secondary-dark { color: var(--color-secondary-dark); }
  .text-secondary-light { color: var(--color-secondary-light); }

  .text-copy { color: var(--color-copy); }
  .text-copy-light { color: var(--color-copy-light); }
  .text-copy-lighter { color: var(--color-copy-lighter); }

  .text-success { color: var(--color-success); }
  .text-success-content { color: var(--color-success-content); }
  .text-warning { color: var(--color-warning); }
  .text-warning-content { color: var(--color-warning-content); }
  .text-error { color: var(--color-error); }
  .text-error-content { color: var(--color-error-content); }

  .bg-copy { color: var(--color-copy); }
  .bg-copy-light { color: var(--color-copy-light); }
  .bg-copy-lighter { color: var(--color-copy-lighter); }

  /* Border color */
  .border-color { border-color: var(--color-border); }
}




/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}
.loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #0ba653;
  border-color: #0ba053 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}





















@media (prefers-color-scheme: dark){
    
    :root {
    --color-primary: #1a73e7;
    --color-primary-content: #ffffff;
    --color-primary-light: #145cba;
    --color-primary-dark: #488fec;

    --color-secondary: #e7d21a;
    --color-secondary-content: #020200;
    --color-secondary-light: #baa914;
    --color-secondary-dark: #ecdb48;

    --color-background: #1a1a1a;
    --color-foreground: #262626;
    --color-border: #404040;

    --color-copy: #fbfbfb;
    --color-copy-light: #d9d9d9;
    --color-copy-lighter: #a6a6a6;

    --color-success: #1ae71a;
    --color-warning: #e7e71a;
    --color-error: #e71a1a;

    --color-success-content: #000200;
    --color-warning-content: #020200;
    --color-error-content: #ffffff;
  }
}